*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  padding: 0.5rem;
  background-image: linear-gradient(135deg, $primary 0% 60%, $secondary);
  background-repeat: no-repeat;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
